.btn-icon {
    border-radius: .5em;
    padding: .5em .1em .5em 2.25em;
}

table {
    text-align: center;
}

tr {
    background: rgba(121, 80, 242, 0.7) ;
    color: white;
}

tr.head {
    background: transparent;
    color: #7A8599;
}

tr:nth-child(even) {
    background-color: #7950f2;
    color: white;
}