#wrapper {
    margin-top: 5em;
}

section.section#header {
    text-align: center;
}

header.header > div.title > h1.headline {
    font-size: 2em
}

header.header > div.title > h2.subtitle {
    font-weight: 300;
    font-size: 1.3em;
}

header.header > div.title > svg {
    width: 10%;
    height: 10%;
    margin-bottom: 1%;
}

header.header > div.title > a > svg {
    width: 10%;
    height: 10%;
    margin-bottom: 1%;
}

a.external > img {
    width: 50%;
    height: 100%;
}

div#wrapper div.container.flex-container {
    margin: auto;
    max-width: 960px;
    position: relative;
}

div.form-group .jqte {
    text-align: initial;
}

.no-decoration{
    text-decoration: none;
}

.footer-body li, .social li, .img-replace {
    display: inline-block;
}

footer {
    font-size: 1.2125rem;
    padding: 2em 0;
    margin-top: 30px;
    border-top: 1px solid #e1e1e1;
    background: #f1f3f5
}

.footer-body ul,footer a,footer p {
    vertical-align: baseline;
    padding: 0
}

footer a, footer p {
    border: 0;
    font: inherit;
    margin: 0
}

footer .footer-container {
    position: relative;
    height: 100%
}

.footer-container {
    width: 90%;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto
}

.footer-body a {
    color: #f1f3f5;
    font-weight: 700;
    border-bottom: 1px solid rgba(198,70,61,0);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.footer-body li {
    margin: 0 1em 1em 0
}

.footer-body ul {
    border: 0;
    font: inherit;
    margin: 1em 0 0
}

.footer-body ul.social {
    margin-top: 0
}

.footer-body li a {
    color: #9f9f9f;
    font-weight: 400
}

.social a.pi {
    background: url(https://clonalejandro.github.io/cdn/clonaweb/social.svg) hsla(0,0%,94%,0)
}

.social a.g, .social a.pi {
    width: 30px;
    height: 30px;
    border-radius: .25em;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    border: none
}

.social a.g {
    background-image: url(https://clonalejandro.github.io/cdn/clonaweb/gitlab.svg)
}

.social a.twitter {
    background-position: 0 0
}

.social a.github {
    background-position: -30px 0
}

.social a.facebook {
    background-position: -60px 0
}

.social a.dribbble {
    background-position: -90px 0
}

.social a.google {
    background-position: -120px 0
}

.social a.rss {
    background-position: -150px 0
}

.social a.gitlab {
    background-position: 0 0;
}

.social a.twitter:hover {
    background-color: #50abf1;
    background-position: 0 -30px
}

.social a.github:hover {
    background-color: #333;
    background-position: -30px -30px
}

.social a.facebook:hover {
    background-color: #3b599a;
    background-position: -60px -30px
}

.social a.dribbble:hover {
    background-color: #ec4989;
    background-position: -90px -30px
}

.social a.google:hover {
    background-color: #df4a32;
    background-position: -120px -30px
}

.social a.rss:hover {
    background-color: #e77b39;
    background-position: -150px -30px
}

.social a.gitlab:hover {
    background-color: #6b4fbb;
    background-position: -30px 0
}

@media only screen and (min-width: 768px) {
    .social {
        text-align:left
    }
}

@media only screen and (min-width: 1170px) {
    .has-adv .social li a.pi {
        -webkit-transform:translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden
    }
}

.social {
    text-align: center;
    margin-top: 0
}

.social li {
    margin: 0
}

.img-replace {
    overflow: hidden;
    text-indent: 100%;
    background: 50% no-repeat;
}

.no-touch .social a:hover {
    border: none
}

div.help {
    text-align: center;
}

div.help > a {
    color: #5A94E0;
    font-size: 70%;
}

/* FOR MALEXTRAP TODO AND REFORM CARD STRUCTURE */

.img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}

.modal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.modal.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
  
.modal-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.modal-container p {
    padding: 3em 1em;
}

.modal-container .cd-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.modal-container .cd-buttons li {
    list-style: none;
    float: left;
    width: 50%;
}

.modal-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
  
.modal-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}
  
.no-touch .modal-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}

.modal-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.no-touch .modal-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.modal-container .modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.modal-container .modal-close::before, .modal-container .modal-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.modal-container .modal-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.modal-container .modal-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
	.modal-container {
		margin: 8em auto;
	}
}

div.navbar {
    margin: 20px;
}

@media only screen and (min-width: 768px){
    div.navbar {
        margin-left: 40px;
        margin-right: 40px;
    }
}

div.navbar > div.nav-container {
    margin: 40px 0;
    text-align: right;
}

@media only screen and (max-width: 576px){
    div.navbar > div.nav-container {
        text-align: center;
    }
}

.bubble.top {
    bottom: 85%;
}

div.navbar a.item {
    margin-left: 40px;
}

div.navbar a {
    color: #7950f2;
}

.btn i.icon.icons-arrow-thin-right {
    margin-left: 5%;
    bottom: 15%;
}

.btn.adapter i {
    margin-left: 5%!important;
    position: relative!important;
}

div.card-link {
    display: flex;
    margin: 2%;
}

div.card-link .is-text{
    margin-left: 5%
}

div.card > div.filter {
    width: 100%;
}

a.external {
    z-index: 1;
    position: absolute;
    top: .5em;
    left: 80%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    box-shadow: 0 1px 2px 0 rgba(31,45,61,.15);
}

.label {
    padding: 1px 3px 2px;
    font-size: 9.75px;
    color: #f8f9fa;
    background-color: #bfbfbf;
    border-radius: 3px;
}

.label.label-blue {
    background-color: #4595E6;
}

.label.label-red {
    background-color: #f03e3e;
}

.label.label-pink {
    background-color: #e64980;
}

.label.label-purple {
    background-color: #7950f2;
}

.label.label-rainbow {
    text-transform: uppercase;
    font-weight: 700;
    -webkit-animation: rainbow 5s infinite;
    animation: rainbow 5s infinite;
    color: #fff;
}

.border {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: #dfe4e6;
    margin: 2em auto;
    text-align: center;
}

.border > .border-title {
    position: relative;
    top: -1.112em;
    display: inline-block;
    font-size: 0.75em;
    background: #F3F4F8;
    padding: 0 0.75em;
    font-weight: 300;
}

/* ANIMATIONS */

@keyframes rainbow {
    0% {
        background-color: #e64980;
    }
    10% {
        background-color: #f03e3e;
    }
    20% {
        background-color: #fa5252;
    }
    30% {
        background-color: #fd7e14;
    }
    40% {
        background-color: #fcc419;
    }
    50% {
        background-color: #5FB335;
    }
    60% {
        background-color: #2ecc71;
    }
    70% {
        background-color: #4595E6;
    }
    80% {
        background-color: #22b8cf;
    }
    90% {
        background-color: #7950f2;
    }
    100% {
        background-color: #be4bdb;
    }
}