footer
    div.footer-container
        div.footer-body
            p © 
                strong clonalejandro 
                | powered with 
                a.label.label-rainbow.no-decoration(target='_blank', href="https://github.com/Malextrap") 
                    i.icon.icons-rocket 
                    | malextrap
            ul 
                li
                    a(href="mailto:contact@clonalejandro.me") Mail
                li
                    a(href="https://github.com/Malextrap", target="_blank") Malextrap
                li 
                    a(href="/tos") Terms & License
            ul.social
                li
                    a.pi.img-replace.github(href="https://github.com", target="_blank") Github
                li
                    a.img-replace.g.gitlab(href="https://gitlab.com", target="_blank") Gitlab
                li
                    a.pi.img-replace.twitter(href="https://twitter.com", target="_blank") Twitter
                li
                    a.pi.img-replace.rss(href="#", target="_blank") RSS